@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lora&family=Open+Sans&family=Quicksand:wght@600;700&family=Raleway:wght@300;600&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lora&family=Open+Sans&family=Quicksand:wght@600&family=Raleway:wght@300;600&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

.links {
  text-decoration: none;
  color: #000000;
}

#colors {
  background: #838181;
  /* color: #9893938f; */
  color: #2990f0;
}

.font-one {
  font-family: 'Quicksand', sans-serif;
}

.font-two {
  font-family: 'Raleway', sans-serif;
}